.blue {
  background: #3387ea;
}
.orange {
  background: #f9be3e;
}
.red {
  background: #d3573e;
}
.lightblue {
  background: #59b0e2;
}
.wave {
  background: #33af95;
}
.hire {
  background: #86a73f;
}
.black {
  background: #151a26;
}
.violet {
  background: #7e5b8c;
}
