.item-wrapper
  height 100%

.item
  box-sizing border-box
  height 100px
  padding-left 5px
  padding-top 5px
  flex-grow 0
  flex-shrink 0

.item1
  padding-top 5px
  box-sizing border-box
  flex-grow 0
  flex-shrink 0

.item_2
  box-sizing border-box
  height 60px
  padding-left 5px
  padding-top 5px
  flex-grow 0
  flex-shrink 0

.item1-text
  display flex
  justify-content flex-end
  color white
  padding-top 40px


.black-text-container
  height 100%
  padding-left 5px
  font-size 0.8rem
  display flex
  flex-direction column
  justify-content space-between

.text
  color white